/data/
/src/gross.egg-info/
/src/__pycache__/
/src/.ipynb_checkpoints/
/example_notebooks/.ipynb_checkpoints/
/src/stis_gross.egg-info/
/src/gross/__pycache__/
.ipynb_checkpoints/
dev/.ipynb_checkpoints/
*.fits
/dev/1. Data organization and preparation-Copy1.ipynb
